@import "_variables.css";

.header{
    z-index: 1031;
}

.btn-orange{
    width: 100%;
    background-color: var(--yellow-color);
    color: white;
    font-family: "OpenSans Bold";
    border-radius: 10px;
}
.btn-orange:hover{
    background-color: var(--yellow-light-color);
    color: white;
}

.btn-login{
    border-radius: 0;
    width: 144px;
    height: 45px;
    font-family: "Montserrat Regular";
    font-size: 22px;
    color: var(--green-color);
    border: 1px solid var(--green-color);
}
.btn-login:hover{
    color: white;
    background-color: var(--green-color);
}

.nav-link.nav-link-green{
    padding: 0;
    font-family: "Montserrat Medium";
    font-size: 24px;
    color: var(--green-color)!important;
}

.nav-link.nav-link-green:hover{
    border-bottom: 3px solid var(--green-dark-color);
}


.bg-header{
    background-color: rgba(255, 255, 255, 0.9);
}

.footer{
    background-color: var(--green-dark-color);
    color: white;
    padding: 20px 40px;
}

.footer-contacts-title{
    font-family: "Montserrat Bold";
    font-size: 24px;
}

.footer-contacts-info > p{
    font-family: "OpenSans Condensed-Regular";
    font-size: 20px;
    margin: 0;
}

.footer-links > p {
    font-family: "Montserrat Medium";
    font-size: 20px;
    margin: 0;
}
.footer-links > p:not(p:last-child){
    margin-bottom: 10px;
}


.footer-social > p{
    font-family: "Montserrat Medium";
    font-size: 1.25rem;
    text-align: center;
}
.footer-social-links > a{
    display: block;
    text-decoration: none;
}
.footer-social-links > a > svg{
    width: 50px;
    height: 50px;
}


.start-block{
    min-height: 550px;
    background-image: url("../images/start_image.png");
    background-size: cover;
    padding-top: 100px!important;
}


.start-block-title > img{
    width: 85px;
    height: 85px;
}

.start-block-title > p{
    font-family: "Montserrat Bold";
    font-size: 18px;
    color: var(--green-color);
    text-align: center;
}
.start-block-text > p{
    font-family: "OpenSans SemiBold";
    font-size: 16px;
    color: var(--yellow-color);
    text-align: center;
}

.start-block-button > button{
    height: 43px;
    font-size: 14px;
}
.start-block-button > button a{
    color: white;
}
.start-block-button > button a:hover{
    color: white;
}



.courses-title {
    font-family: "Montserrat Bold";
    font-size: 28px;
    color: var(--green-color);
}

.course-block {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 50px;
    background-color: var(--white-color);
    border-radius: 10px;
}
.course-image{
    width: 100%;
    border-radius: 10px;
}
.course-title{
    font-family: "Pacifico";
    font-size: 32px;
    color: var(--yellow-color);
}
.course-text {
    font-family: "OpenSans Regular";
    font-size: 20px;
    color: var(--gray-color);
    margin-bottom: 30px;
}
.course-button{
    margin-top: auto;
    width: 100%;
    height: 60px;
    background-color: var(--green-dark-color);
    font-family: "OpenSans Bold";
    font-size: 24px;
    color: white;
    border-radius: 10px;
}
.course-button:hover{
    background-color: var(--green-color);
    color: white;
}


.bonus{

}

.bonus-title{
    text-align: center;
}
.bonus-title-main, .bonus-title-name{
    font-size: 24px;
    color: var(--green-dark-color);
}
.bonus-title-main{
    font-family: "Montserrat Regular";
        margin: 0;
}
.bonus-title-name{
    font-family: "Pacifico";
}

.bonus-images{
    overflow: hidden;
    border-radius: 10px;
}
.bonus-images > img{
    object-fit: cover;
}

.bonus-text-title, .bonus-text-info{
    color: var(--gray-color);
}
.bonus-text-title{
    font-family: "OpenSans Bold";
    font-size: 26px;
}
.bonus-text-info{
    font-family: "OpenSans SemiBold";
    font-size: 16px;
}

.bonus-form{
    background-color: var(--green-color);
    padding: 10px;
    border-radius: 10px;
}

.bonus-form input{
    background-color: var(--white-color);
    color: black;
    height: 60px;
    font-size: 22px;
    border-radius: 10px;
}

.bonus-form button{
    height: 60px;
    font-size: 26px;
}

.bonus-comment p {
    font-family: "Pacifico";
    font-size: 18px;
    color: var(--blue-color);
    text-align: center;
}


.school-info{

}
.school-info-title{
    font-family: "Montserrat Bold";
    color: var(--green-dark-color);
    font-size: 34px;
}
.school-info-text{
    font-family: "OpenSans Bold";
    color: var(--gray-color);
    font-size: 18px;
}
.school-info-image{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.study-info{
}

.study-info-title{
    font-family: "Montserrat Bold";
    color: var(--green-dark-color);
    font-size: 24px;
}

.study-info-block{
    height: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--blue-color);
    border-radius: 10px;
}

.study-info-block-title{
    font-family: "Montserrat Bold";
    color: white;
    font-size: 18px;
    word-break: break-word;
}

.study-info-block-text{
    font-family: "OpenSans Regular";
    color: white;
    font-size: 16px;
    word-break: break-word;
}

.carousel{
    overflow: hidden;
    border-radius: 10px;
}

.carousel-item img {
    object-fit: cover;
    min-height: auto;
    max-height: 600px;
}


.reviews-title{
    font-family: "Montserrat Bold";
    color: var(--green-dark-color);
    font-size: 40px;
}



/* Small */
@media (min-width: 576px) {
    .start-block-button button{
        height: 48px;
    }
    .start-block-title > p{
        font-size: 20px;
    }
    .start-block-text > p{
        font-size: 18px;
    }
    .courses-title {
        font-size: 32px;
    }
    .bonus-title-main, .bonus-title-name{
        font-size: 26px;
    }
    .bonus-comment p {
        font-size: 20px;
    }
    .bonus-text-title{
        font-size: 28px;
    }
    .bonus-text-info{
        font-size: 20px;
    }
    .bonus-form {
        padding: 20px;
    }

    .reviews-title{
        font-size: 42px;
    }
}
/* Medium */
@media (min-width: 768px) {

    .start-block-title > img{
        width: 100px;
        height: 100px;
    }
    .courses-title {
        font-size: 42px;
    }
    .bonus-title-main, .bonus-title-name{
        font-size: 30px;
    }
    .bonus-comment p {
        font-size: 22px;
    }
    .bonus-text-title{
        font-size: 30px;
    }
    .bonus-text-info{
        font-size: 20px;
    }
    .bonus-form {
        padding: 30px;
    }
    .school-info-title{
        font-size: 40px;
    }
    .school-info-text{
        font-size: 22px;
    }
    .study-info-title{
        font-size: 26px;
    }
    .study-info-block-title{
        font-size: 24px;
    }
    .study-info-block-text{
        font-size: 18px;
    }
    .reviews-title{
        font-size: 50px;
    }

}
/* Large */
@media (min-width: 992px) {
    .start-block{
        height: 615px;
    }
    .start-block-title > p{
        font-size: 24px;
    }
    .start-block-text > p{
        font-size: 22px
    }
    .start-block-title > img{
        width: 140px;
        height: 140px;
    }
    .start-block-button button{
        height: 60px;
        font-size: 20px;
    }
    .courses-title {
        font-size: 52px;
    }
    .bonus-form {
        padding: 40px;
    }
    .school-info-title{
        font-size: 48px;
    }
    .school-info-text{
        font-size: 24px;
    }
    .study-info-title{
        font-size: 34px;
    }
    .study-info-block-title{
        font-size: 22px;
    }
    .study-info-block-text{
        font-size: 16px;
    }

}
/* Extra large */
@media (min-width: 1200px) {
    .start-block{
        height: 770px;
    }
    .start-block-title > p{
        font-size: 30px;
    }
    .start-block-text > p{
        font-size: 28px;
    }
    .start-block-title > img{
        width: 185px;
        height: 185px;
    }
    .start-block-button button{
        height: 64px;
    }
    .courses-title {
        font-size: 60px;
    }
    .bonus-title-main, .bonus-title-name{
        font-size: 32px;
    }
    .bonus-comment p {
        font-size: 24px;
    }
    .bonus-text-title{
        font-size: 32px;
    }
    .bonus-text-info{
        font-size: 22px;
    }
    .school-info-title{
        font-size: 54px;
    }
    .school-info-text{
        font-size: 28px;
    }
    .study-info-title{
        font-size: 36px;
    }
    .study-info-block-title{
        font-size: 24px;
    }
    .study-info-block-text{
        font-size: 18px;
    }
    .reviews-title{
        font-size: 54px;
    }

}
/* Extra extra large */
@media (min-width: 1400px) {
    .start-block{
        height: 865px;
    }
    .courses-title {
        font-size: 64px;
    }
    .school-info-title{
        font-size: 56px;
    }
    .school-info-text{
        font-size: 30px;
    }
    .study-info-title{
        font-size: 40px;
    }
    .study-info-block-title{
        font-size: 28px;
    }
    .study-info-block-text{
        font-size: 20px;
    }
    .reviews-title{
        font-size: 56px;
    }

}